<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social Media App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Social Media App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Wall</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Jokes" asp-action="Index">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=" " asp-controller="Jokes" asp-action="ShowSearchForm">Explore</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Side navigation -->
    <div class="sidenav">
        <p class="categories">Categories</p>
        <a href="https://localhost:44322/Jokes">Food</a>
        <a href="https://localhost:44322/Jokes">Technology</a>
        <a href="https://localhost:44322/Jokes">Travel</a>
        <a href="https://localhost:44322/Jokes">Educational</a>
        <a href="https://localhost:44322/Jokes">Health</a>
        <a href="https://localhost:44322/Jokes">gifs</a>
        <a href="https://localhost:44322/Jokes">Sports</a>
        <a href="https://localhost:44322/Jokes">Entertainment</a>
        <a href="https://localhost:44322/Jokes">Music</a>
        <a href="https://localhost:44322/Jokes">Animals</a>
        <a href="https://localhost:44322/Jokes">Social Media</a>
        <a href="https://localhost:44322/Jokes">Pictures</a>
        <a href="https://localhost:44322/Jokes">Exercise</a>
    </div>

    <div class="leaderboard">
        <p class="categories">Leaderboard</p>
        <a href="https://localhost:44322/Jokes">user 1</a>
        <a href="https://localhost:44322/Jokes">user 2</a>
        <a href="https://localhost:44322/Jokes">user 3</a>
        <a href="https://localhost:44322/Jokes">user 4</a>
        <a href="https://localhost:44322/Jokes">user 5</a>
        <a href="https://localhost:44322/Jokes">user 6</a>
        <a href="https://localhost:44322/Jokes">user 7</a>
        <a href="https://localhost:44322/Jokes">user 8</a>
        <a href="https://localhost:44322/Jokes">user 9</a>
        <a href="https://localhost:44322/Jokes">user 10</a>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Questions and Answers <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
