@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="        
        font-family: Arial;
        font-size: 30px;
">Welcome to questions and answers</h1>

</div>
